@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Cairo:wght@400;600&family=Dancing+Script:wght@400;500;700&family=Montserrat:wght@300&family=Orbitron:wght@700&family=Poppins&family=Roboto:ital,wght@0,400;0,500;1,100;1,700&display=swap');

* {
  font-family: 'Barlow', 'Poppins', 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-left: 5px; /* Adjust the margin as needed */
  }
}
table {
  border-collapse: collapse;
  width: 50%;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 10px;
  text-align: center;
  word-break: break-all; /* Allow words to break inside table cells */
}

td {
  cursor: pointer;
  min-width: 40px;
  height: 30px;
}

.selected {
  background-color: #00f;
  color: #fff;
}

.selected-dates {
  margin: 30px 0;
}
.color {
  color: #00f;
}
.task {
  margin-top: 40px;
  margin-left: 10%;
}
.delete button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(246, 12, 12);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.delete button a {
  text-decoration: none;
  color: #fff;
}

.delete button:hover {
  background-color: #f6f6f6;
  color: rgb(246, 12, 12);
  border: 1px solid red;
}

.task button a {
  padding: 5px;
  text-decoration: none;
}
